<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Assignment View</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Assignment <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <!-- <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchAssignments(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search assignmetns..." required>
       </form> -->
    </div>
  </nav>
  <div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let course of courses" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6">
                <a href=""><img src="{https://www.nicepng.com/png/full/25-254198_jpg-royalty-free-download-collection-of-piece-high.png}" alt="" class="img-fluid rounded-circle w-60"></a>
             </div>
             <div class="col-6 card-title align-self-center mb-0">
                <h5>{{assignment?.name}}</h5>
                <p class="m-0">{{assignment?.courseName}}</p>
             </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{assignment?.dueDate}}</li>
             <!-- <li class="list-group-item"><i class="fa fa-hours float-right"></i>Hours : {{assignment?.hours}}</li> -->
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                <a (click)="onOpenModal(assignment, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(assignemtn, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
    </div>
  </div>
  


  <!-- Add Assignment Modal -->
  <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addCourseModalLabel">Add Assignment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddAssignment(addForm)">
            <div class="form-group">
               <label for="name">Assignment Name</label>
               <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
               <label for="email">Duee Date</label>
               <input type="email" ngModel name="Instructor" class="form-control" id="instructor" placeholder="Instructor" required>
            </div>
            <div class="form-group">
               <label for="phone">Semester</label>
               <input type="text" ngModel name="semester" class="form-control" id="semester" placeholder="Semester" required>
            </div>
            <div class="form-group">
               <label for="phone">Hours</label>
               <input type="text" ngModel name="hours" class="form-control" id="hours" placeholder="hours" required>
            </div>
            <div class="form-group">
               <label for="phone">Image URL</label>
               <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
               </div>
            <div class="modal-footer">
               <button type="button" id="add-course-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  
  <!-- Edit Modal -->
  <div class="modal fade" id="updateCourseModal" tabindex="-1" role="dialog" aria-labelledby="courseEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateCourseModalLabel">Edit Course {{editCourse?.name}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" ngModel="{{editCourse?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <input type="hidden" ngModel="{{editCourse?.id}}" name="id" class="form-control" id="id" placeholder="ids">
                <div class="form-group">
                   <label for="email">Instructor</label>
                   <input type="email" ngModel="{{editCourse?.instructor}}" name="instructor" class="form-control" id="instructor" placeholder="Instructor">
                </div>
                <div class="form-group">
                   <label for="phone">Semester</label>
                   <input type="text" ngModel="{{editCourse?.semester}}" name="semester" class="form-control" id="semester" placeholder="Semester">
                </div>
                <div class="form-group">
                   <label for="phone">Hours</label>
                   <input type="text" ngModel="{{editCourse?.hours}}" name="hours" class="form-control" id="hours" name="hours" placeholder="hours">
                </div>
                <div class="form-group">
                   <label for="imageUrl">Image URL</label>
                   <input type="text" ngModel="{{editCourse?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateCourse(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Assignment</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete {{deleteAssignment?.name}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteCourse(deleteCourse)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  
  <!-- Notification for no courses -->
  <div *ngIf="courses?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO !</h4>
    <p>No assignments were found.</p>
  </div>
  </div>